.azul {
    background-color: blue;
    color: #fff;
}
.vermelho {
    background-color: red;
    color: #fff;
}
.oculto {
    display: none;
}
.verde {
    background-color: #00FF00;
    color: #000;
}
#telefone {
    display: none;
}
