* {
    font-family: Arial;
}
body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    width: 1600px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}
nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial;
}
nav .active a,
nav a:hover {
    background-color: #39aae1;
    color:white
}

#banner {
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
}
#column {
    flex-direction: column;
}
.banner_headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.banner_headline h1 {
    color:white;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0px;
    max-width: 400px;
}
.banner_headline h2 {
    color:white;
    font-size: 24px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
    max-width: 400px;
}
.banner_options {
    display: flex;
    flex: 1;
    height: 210px;
}
.banner1,.banner2,.banner3 {
    flex: 1;
    padding: 20px;

}
.banner1 {
    background-color: rgb(0, 174, 255);
}
.banner2 {
    background-color: rgb(0, 68, 255);
}
.banner3 {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}
.banner_title {
    font-size: 21px;
    color: white;
    flex: 1;
}
.banner_desc {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    flex:1;
}
.banner_options a {
    display: block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.banner_bottom {
    border-bottom: solid 1px gray;
    justify-content: space-between;
    flex: 1;
}

#geral {
    display: flex;
    justify-content: center;
}
#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 20px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: black;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color:rgb(0,74,174);
    margin-top: 10px;
}

article {
    min-width: 300px;
    margin-right: 20px;
}
.widget_body {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
article a {
    text-decoration: none;
}
article .news_data {
    display: flex;
}
article .news_posted_at {
    background-color: #2b4c99;
    color: white;
    font-size: 12px;
    padding: 10px;
}
article .news_comments {
    background-color: #39aae1;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 5px;
}
article .news_thumbnail {
    width: 100%;
    height: auto;
    margin-top: 30px;
}
article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 23px;
}
article .news_resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;

}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
}

.footer_menu {
    display: flex;
    flex: 1;
}
.fm_1, .fm_2, .fm_3 {
    flex: 1;
}

.fm_1 {
    background-color: rgb(0, 174, 255);
}
.fm_2 {
    background-color: rgb(0, 68, 255);
}
.fm_3 {
    background-color: blue;
}
.footer_area {
    color: white;
    display: flex; 
}
.footer_areaitem {
    flex: 1;
}
.container_flexcolumn {
    margin-left: 150px;
    margin-right: 150px;
    width: 1600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

footer .widget_title_text {
    color: white;
}

.footer_copy {
    border-top: #5c5c5c solid 1px;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
}
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line {
    height: 2px;
    background-color: #39aae1;
}

@media (max-width:600px) {
    .container {
        padding: 20px;
        margin: 0px;
        flex-direction: column;
    }
    .banner_headline h1  {
        font-size: 55px;
    }
    .banner_headline h2 {
        font-size: 20px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    #geral {
        margin-top:100px;
    }
    #geral section, #geral aside {
        padding: 20px;
    }
    .footer_menu {
        flex-direction: column;
    }
    .container_flexcolumn {
        margin: 20px;
    }
    .footer_area {
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy {
        padding-left: 20px;
    }
    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;
    }
    header {
        height: auto;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}