body {
    font-size: 20px;
}
h1 {
    font-size: 3em;
}

.box {
    font-size: 2em;
    height: 100vh;
    background-color: rgb(116, 113, 113);

}
.box-interno{
    width: 10em;
    height: 10em;
    background-color: grey;
}